@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brotherhood';
  src: url('../public/brotherhood.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Belleza';
  src: url('../public/belleza.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gwendolyn';
  src: url('../public/gwendolyn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #FBF4FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBF4FF;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  .backgroundImage {
    max-width: 300%;
  }

  .overlayText {
    margin: 0.5rem 0;
    line-height: 0.8;
  }

  .time {
    color: black;
    text-align: center;
    font-family: 'Belleza', sans-serif;
    line-height: 1;
    white-space: nowrap;
  }

  .columnsContainer {
    flex-direction: column;
    height: auto;
  }

  .timeColumnsContainer {
    flex-direction: column;
    height: auto;
  }

  .leftImage {
    min-width: 200%;
  }

  .image-cover-top {
    height: 120vh;
  }

  .image-cover-bottom {
    height: 120vh;
  }
}

@media (min-width: 769px) {
  .leftImage {
    object-fit: cover;
    max-height: 100%;
    min-width: 240%;
  }

  .time {
    color: black;
    text-align: center;
    font-family: 'Belleza', sans-serif;
    line-height: 1.3;
    white-space: nowrap;
  }
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  max-height: 100%;
}

.backgroundGifts {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.overlayText {
  color: black;
  text-align: center;
  font-family: 'Gwendolyn', sans-serif;
}

.columnsContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.timeColumnsContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex: 0 1 35%;
  height: auto;
  justify-content: center;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timeColumn {
  flex: 0 1 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4rem 1rem;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rightText {
  color: black;
  text-align: center;
  font-family: 'Gwendolyn', sans-serif;
}

.leftText {
  color: black;
  text-align: center;
  font-family: 'Belleza', sans-serif;
  line-height: 1.3;
}

.button-style {
  padding: 1rem 2rem;
  background-color: pink;
  color: white;
  font-family: 'Belleza', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.image-cover-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

.image-cover-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}
